*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: 'Lato';
	color: rgb(209, 210, 211);
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
}

.shiki {
	padding: 3vmin;
	border-radius: 1vmin;
	font-size: 3vmin;
}

@keyframes slide-in {
	from {
		transform: translateX(100vw);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slide-out {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100vw);
	}
}